.site {
  margin-bottom: 1rem;
  min-width: 70rem;
}

.toggle {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.name {
  font-size: 3rem;
  font-weight: 700;
  color: #111;
  margin-left: 1rem;
}

.url {
  font-size: 1.3rem;
  background: #9ca3af;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.list {
  padding-left: 1.5rem;
  margin-top: 0.25rem;
}
