.page {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 70rem;
  padding: 1rem 0;
}

.siteName {
  font-size: 1.3rem;
  color: #9ca3af;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 500;
  color: #111;
  margin-bottom: 1rem;
}

.list {
  padding-left: 2rem;
  margin-top: 0.25rem;
}

.item {
  margin: 0.75rem;
}
