.page {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 30%,
    rgb(198, 198, 198) 100%
  );
  background-size: cover;
}

.linksContainer {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 4rem;
  display: flex;
  gap: 4rem;
}

.readerLogoContainer {
}

.inner {
  width: 100%;
  max-width: 52rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  margin-bottom: 0.5rem;
  text-align: center;
}

.subtitle {
  text-align: center;
  color: #6b7280;
  margin-top: 1.75rem;
  font-size: 1.5rem;
}

.hint {
  font-size: 1.25rem;
  color: #9ca3af;
  text-align: center;
  margin-top: 0.75rem;
}
