.page {
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 70rem;
  padding: 1rem 0;
}

.siteNameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 0.5rem;
}

.url {
  font-size: 1.3rem;
  background: #9ca3af;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.list {
  padding-left: 1.5rem;
  margin-top: 0.25rem;
}
